
<div class="main">
  <app-navbar 
  [classNavbarHeader]="classNavbarHeader"
  [activeIndex]="activeIndex"
  [activeStyles]="activeStyles"
  [activeApp]="activeApp"
  [closeIndex]="closeIndex"
  [closeStyles]="closeStyles"
  [closeApp]="closeApp"

  (activeNavbarHijo)="classNavbarHeader = $event"
  (btnActiveIndexHijo)="activeIndex = $event"
  (btnActiveStylesHijo)="activeStyles = $event"
  (btnActiveAppHijo)="activeApp = $event"

  (btnCloseIndexHijo)="closeIndex = $event"
  (btnCloseStylesHijo)="closeStyles = $event"
  (btnCloseAppHijo)="closeApp = $event"
  ></app-navbar>

  <div class="main-container">
    <app-header 
    [classNavbarHeader]="classNavbarHeader"
    [closeIndex]="closeIndex"
    [closeStyles]="closeStyles"
    [closeApp]="closeApp"
    [activeIndex]="activeIndex"
    [activeStyles]="activeStyles"
    [activeApp]="activeApp"

    (btnActiveIndexHijo)="activeIndex = $event"
    (btnActiveStylesHijo)="activeStyles = $event"
    (btnActiveAppHijo)="activeApp = $event"

    (btnCloseIndexHijo)="closeIndex = $event"
    (btnCloseStylesHijo)="closeStyles = $event"
    (btnCloseAppHijo)="closeApp = $event"
    ></app-header>
    
    <div class="main-container-files">
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>